@charset "utf-8";
/* CSS Document */

@Font-face
		{
			font-family: "Lucida Handwriting";
			src: url(HN/LHWItalic.ttf);
}

@font-face
{
	font-family: "Helvetica Neue";
	src: url(HN/HelveticaNeueMed.ttf);
}
#wrapper
{
	min-height: 100%;
	width: 100%;
	background-color: #F6DCBC;
	max-width: 1080px;
	min-width: 800px;
	margin-left: auto;
	margin-right: auto;
	height: 700px;

}

html 
{
	height: 80%;
	background-color: antiquewhite;
	box-sizing: border-box;
	
}

#navbar
{
	height: 52px;
	position: relative;
	background-color: #FF9F2B;
}


#navbar table
{
	text-align: center;
	font-family:"Helvetica Neue", Arial, "sans-serif";
	font-size: 28px;
	vertical-align: top;
	height: 52px;
}

#navbar table td
{
	width: 20%;
}

#navbar table tr
{
	height: 52px;
}
#navbar table td:hover
{
	background-color: aquamarine;
}
#navbar table td:hover .dropdown-content {
    display:block;
	
}
#navbar a
{
	font-size: 20px;
	text-decoration: none;
	color: black;
	text-shadow: 4px 4px 8px #313131;
}

#navbar tr
{
	height: 50px;
}

.title {
	width: 100%;
	position: relative;
	
}
.title h1{
	font-family: "Lucida Handwriting", Helvetica, Arial;
	font-style: italic;
	font-size: 64px;
	min-height: 40px;
	text-align: center;
	animation: csptitle 10s infinite;
	text-shadow:  4px 4px 4px #5E5E5E;
	
}

@keyframes csptitle{
	0% {color: black;}
	40% {color: blue;}
	70% {color: red;}
	100% {color: black;}
}

/* Dropdown link section START */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E1E2E2;
    min-width: 200px;
	color: black;
	box-shadow: 4px 4px 4px 4px #808080;
}

.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display:block;
	background-color: #FBDE00;
	
}

.dropdown-content td:hover{
	background-color: indianred;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display:block
	}
/* Dropdown Section END */


#welcometext {
	font-family: "Lucida Handwriting", "Helvetica Neue";
	text-align:center;
	height: 60px;
	font-size: 36px;
	src: url(LHWItalic.ttf);
	text-shadow: 6px 6px 12px #808080;
	animation: wtext 8s infinite;
	min-height: 100%;
		
}

@keyframes wtext {
	0% {color:black;}
	25% {color:yellow;}
	50% {color:darkblue;}
	75% {color:red;}
	100% {color:black;}
}
/* Main Text Start */
#maintext {
	height:100%;
	font-family: Helvetica;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 18px;
	line-height: 150%;
	overflow: auto;
	max-height: 500px;
	text-decoration: none;
}
/* Main Text End */

/* Contact Table */
#ct-table{
	margin:15px;
	padding: 10px;
	text-decoration: none;
}
#ct-table td
{
	min-width: 120px;
		
}

#ct-table tr {
	height: 18px;
}

#ct-table td a {
	text-decoration: none;
	color: black
}
/* Google Maps Section */

.gmaps {
	
}
/* Google Maps END */


/* Form START */

#tblform td{
	min-width: 280px;
}

/* Party Table */

#partytable td
{
	min-width: 200px;
}

/* Party Table END */

#imgalign img{
	margin: auto;
	display: block;
}

#footer
{
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
	position: relative;
}

.imgsmalltext img {
	display: block;
	float: left;
	margin-right: 25px;
	box-shadow: 4px 4px 4px 4px #808080;
	margin-bottom: 25px;
	margin-top: 20px;
}

.imgsmalltext iframe {
	margin-right: 20px;
	box-shadow: 4px 4px 4px 4px #808080;
	float: left;
	
}

.imgsmalltextright img {
	display: block;
	float: right;
	box-shadow: 4px 4px 4px 4px #808080;
	margin-left: 25px;
	margin-bottom: 15px;
	
}

#anim-visible {
	opacity: 0;
	animation: vis-text 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-delay: 2s;
	text-decoration: none;
	color: black;
	
}
#anim-visible ul li {
	color: black;
	text-decoration: none;
	
}
#anim-visible li:hover
{
	color: #8B0000;
}
@keyframes vis-text {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.bg
{
	
	background-image: url(images/we-re-rabbits-1439192-1279x850.jpg);
	background-repeat: no-repeat;
	width: 100%;
	opacity: 0.5;
	margin-top: 50px;
}