@charset "utf-8";
/* CSS Document */

#wrapper
{
	width: 100%;
	min-height: 100%;
	background-color: #A9A9A9;
	max-width: 1080px;
	min-width: 800px;
	margin-left: auto;
	margin-right: auto;
	
}

html 
{
	height: 80%;
	background-image: linear-gradient(to right, darkgreen, blue);
	box-sizing: border-box;
	
}

#navbar
{
	height: 56px;
	position: relative;
	background-image: linear-gradient(to left, orange, yellow);
	
}

#navbar table
{
	text-align: center;
	font-family:"Arial Black", "Helvetica Neue", Arial, "sans-serif";
	font-size: 28px;
	vertical-align: top;
	height: 24px;
	
}

#navbar table td
{
	width: 20%;
}
#navbar a
{
	font-size: 20px;
}

#navbar tr
{
	height: 24px;
}
.title h1{
	font-family: Helvetica, Arial;
	font-style: italic;
	font-size: 64px;
}


/* Dropdown link section START */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E1E2E2;
    min-width: 200px;
	color: black;
}

.dropdown-content a {
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    display:block;
	background-color: #9AAB77;
	
}

.dropdown-content tr:hover{
	background-color: indianred;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display:block
	}
/* Dropdown Section END */


#welcometext {
	font-family: "Lucida Handwriting", "Helvetica Neue";
	text-align:center;
	height: 90%;
	font-size: 48px;
}

#maintext {
	height:100%;
	font-family: Helvetica;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 16px;
}